* {
    box-sizing: border-box;
  }

body {
    background-color: #343434;
    color: #009270;
    font-family: "Inconsolata";
    padding: 20px;
}

h1{
    color: #29BB89;
    font-weight: bold;
    text-align: center;
    padding-bottom:20px;
    padding-right:250px;
}

h2{
    color: #00a36a;
    text-align: center;
}

h3 {
    text-align: center;
    margin-top: -10px;
}

#my-img {
    max-width: 300px;
    border-radius: 50%;
    border: solid 2px #F6ED46;
}

.header {
    display: flex;
}

.header-info {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20px;
}

hr {
    border: solid 2px #F6ED46;
    margin: 10px 0px 10px 0px;
}

.img {
    max-width: 200px;
}

#js-logo{
    width: 230px;
}

#react-logo{
    width: 230px;
}

#github-logo{
    width: 230px;
}

#bootstrap-logo{
    width: 230px;
}

.first-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-left:50px;
}

.second-row{
    display: flex;
    justify-content: space-evenly;
    padding-left:50px;
    margin-top: 30px;
}

.third-row{
    display: flex;
    justify-content: space-evenly;
    padding-left:50px;
    margin-top: 30px;
    padding-bottom: 20px;
}

#hr2 {
    margin: 0px 0px 30px 0px;
}

.contact-me {
    text-align: center;
    padding-top: 50px;
    margin: auto;
    width: 50%;
    background-color: #F6ED46;
    border: 3px solid #F6ED46;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 20px
}

input {
    margin: 5px;
    border: none;
    border-radius: 3px;
    background-color: #343434;
    color: #1bdd99;
    padding: 5px;
}

textarea {
    margin: 5px;
    border: none;
    border-radius: 3px;
    background-color: #343434;
    color: #29BB89;
    font-family: "Inconsolata";
    margin-left: 30px;
    max-width: 300px;
    max-height: 180px;
}

#submit-btn{
    padding: 10px;
    font-family: "Inconsolata";
    font-weight: bold;
}

#email-in {
    margin-left: 10px;
}